<div class="debug-pane" *ngIf="debugPane">
  <div><b>STATUS:</b> {{tcs.testStatus$ | async}}</div>
  <div><b>TIMER:</b> {{timerValue?.timeLeftString}}<b> {{timerValue?.testletId}} {{timerValue?.type}}</b></div>
  <div><b>MODE:</b> {{tcs.testMode.modeId}}</div>
  <div><b>FOCUS:</b> {{tcs.windowFocusState$ | async}}</div>
  <div><b>BS:</b> {{cmd.connectionStatus$ | async}}</div>
</div>

<div id="header" fxLayout="row" fxLayoutAlign="end center">
    <p class="timer" *ngIf="tcs.testMode.showTimeLeft">{{ timerValue?.timeLeftString }}</p>
    <a mat-fab [disabled]="!tcs.unitPrevEnabled" *ngIf="(tcs.bookletConfig.unit_navibuttons !== 'OFF') && ((tcs.testStatus$ | async) === tcs.testStatusEnum.RUNNING)" color="accent"
            (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.PREVIOUS)" matTooltip="Zurück" fxFlex="none" aria-label="Gehe zurück">
      <i class="material-icons">chevron_left</i>
    </a>
    <div *ngIf="(tcs.bookletConfig.unit_navibuttons === 'FULL') && ((tcs.testStatus$ | async) === tcs.testStatusEnum.RUNNING)" fxLayout="row wrap" fxLayoutAlign="start center">
      <a *ngFor="let u of tcs.unitListForNaviButtons" class="unit-button" (click)="tcs.setUnitNavigationRequest(u.sequenceId.toString())" mat-button
           [attr.disabled]="u.disabled" [attr.aria-label]="'Gehe zu ' + u.shortLabel + (u.isCurrent ? ' (aktuell)' : '')">
        <div class="unit-button-label">{{ u.shortLabel }}</div>
        <div class="current-unit-dot" *ngIf="u.isCurrent"></div>
        <div class="notcurrent-unit-dot" *ngIf="!u.isCurrent"></div>
      </a>
    </div>
    <a mat-fab [disabled]="!tcs.unitNextEnabled" *ngIf="(tcs.bookletConfig.unit_navibuttons !== 'OFF')  && ((tcs.testStatus$ | async) === tcs.testStatusEnum.RUNNING)"
       color="accent" aria-label="Gehe weiter"
            (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.NEXT)" matTooltip="Weiter" fxFlex="none">
      <i class="material-icons">chevron_right</i>
    </a>
    <div class="plus-buttons" fxFlex="none" fxLayout="row">
      <a mat-button (click)="showReviewDialog()" *ngIf="tcs.testMode.canReview" matTooltip="Kommentar senden" fxFlex="none">
        <mat-icon>rate_review</mat-icon>
      </a>
      <a mat-button (click)="tcs.setUnitNavigationRequest(unitNavigationTarget.MENU)"
              *ngIf="(tcs.bookletConfig.unit_menu !== 'OFF') || tcs.testMode.showUnitMenu"
              matTooltip="Zur Aufgabenliste" fxFlex="none" aria-label="Gehe zur Aufgabenliste">
        <mat-icon>menu</mat-icon>
      </a>
    </div>
</div>

<div class="tc-body" fxLayout="row" fxLayoutAlign="start stretch">
    <router-outlet></router-outlet>
</div>
